.form-questions-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Paris2024;
  font-size: 1.5vw;
  line-height: 1.8vw;
}

.form-questions-title:first-letter {
  text-transform: uppercase;
}
